.about{
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
    background: radial-gradient(50.39% 44.35% at 27.81% 53.91%, rgba(255, 255, 255, 0.17) 23.2%, rgba(254, 252, 252, 0.139796) 35.33%, rgba(248, 236, 236, 0) 91.48%, rgba(15, 13, 13, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #000000;
}
.about__grid{
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .aboutStarContainer{
    
  }


  
  .centered1 {
    position: absolute;
    top: -200%;
    left: 50%;
    transform: translate(50%, -50%);
    display: flex;
  }
  .centered1 img{
    width: 200px;
  }

  .centered2 {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-12%, -50%);
    display: flex;
  }
  .centered2 img{
    width: 200px;
  }

  
  .centered3 {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(240%, -50%);
    display: flex;
  }
  .centered3 img{
    width: 110px;
  }

  .centered4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(75%, -50%);
    display: flex;
  }
  .centered4 img{
    width: 120px;
  }

  .centered5 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(170%, -50%);
    display: flex;
  }
  .centered5 img{
    width: 110px;
  }

  .centered6 {
    position: absolute;
    top: 230%;
    left: 50%;
    transform: translate(85%, -50%);
    display: flex;
  }
  .centered6 img{
    width: 160px;
  }

  .centered7 {
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(110%, -50%);
    display: flex;
  }
  .centered7 img{
    width: 130px;
  }

  .centered8 {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(110%, -50%);
    display: flex;
  }
  .centered8 img{
    width: 190px;
  }

  .centered9 {
    position: absolute;
    top: 440%;
    left: 50%;
    transform: translate(103%, -50%);
    display: flex;
  }
  .centered9 img{
    width: 210px;
  }

  
  .centered10 {
    position: absolute;
    top: 305%;
    left: 50%;
    transform: translate(27%, -50%);
    display: flex;
  }
  .centered10 img{
    width: 170px;
  }

  .centered11 {
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(10%, -50%);
    display: flex;
  }
  .centered11 img{
    width: 170px;
  }


  .hideContactPage{
    display: none;
  }

.about__text{
    
}
.text__box{
    max-width: 500px;
    margin-top: 50px;
}
.logo__and__heading{
    display: flex;
    align-items: center;
}
.logo__and__heading img {
  width: 10px;
}
.about__icon{
    color: #CD0000 !important;
}
.logo__and__heading h4{
    color: white;
    margin-left: 10px;
}
.text__box p{
    color: white;
}

.mobile{
    display: none;
}

@media screen and (max-width: 900px) {
    .about{
        padding-top: 250px;
    }
    .about__grid{
        flex-direction: column;
    }
    .text__box{
        margin-top: 60px;
    }
    .about__text{
        margin-top: 240px;
    }
    .about__picture{
      margin-right: 500px;
    }
}


@media screen and (max-width: 500px) {
  
  .centered1 {
    position: absolute;
    top: -200%;
    left: 110%;
    transform: translate(50%, -50%);
    display: flex;
  }
  .centered1 img{
    width: 200px;
  }

  .centered2 {
    position: absolute;
    top: -50%;
    left: 110%;
    transform: translate(-12%, -50%);
    display: flex;
  }
  .centered2 img{
    width: 200px;
  }

  
  .centered3 {
    position: absolute;
    top: -100%;
    left: 110%;
    transform: translate(240%, -50%);
    display: flex;
  }
  .centered3 img{
    width: 110px;
  }

  .centered4 {
    position: absolute;
    top: 60%;
    left: 110%;
    transform: translate(75%, -50%);
    display: flex;
  }
  .centered4 img{
    width: 120px;
  }

  .centered5 {
    position: absolute;
    top: 60%;
    left: 110%;
    transform: translate(170%, -50%);
    display: flex;
  }
  .centered5 img{
    width: 110px;
  }

  .centered6 {
    position: absolute;
    top: 230%;
    left: 110%;
    transform: translate(85%, -50%);
    display: flex;
  }
  .centered6 img{
    width: 160px;
  }

  .centered7 {
    position: absolute;
    top: 500%;
    left: 110%;
    transform: translate(110%, -50%);
    display: flex;
  }
  .centered7 img{
    width: 130px;
  }

  .centered8 {
    position: absolute;
    top: 180%;
    left: 110%;
    transform: translate(110%, -50%);
    display: flex;
  }
  .centered8 img{
    width: 190px;
  }

  .centered9 {
    position: absolute;
    top: 440%;
    left: 110%;
    transform: translate(103%, -50%);
    display: flex;
  }
  .centered9 img{
    width: 210px;
  }

  
  .centered10 {
    position: absolute;
    top: 305%;
    left: 110%;
    transform: translate(27%, -50%);
    display: flex;
  }
  .centered10 img{
    width: 170px;
  }

  .centered11 {
    position: absolute;
    top:85%;
    left: 110%;
    transform: translate(10%, -50%);
    display: flex;
  }
  .centered11 img{
    width: 170px;
  }


}



@media screen and (max-width: 405px) {
  
  .centered1 {
    position: absolute;
    top: -200%;
    left: 235%;
    transform: translate(50%, -50%);
    display: flex;
  }
  .centered1 img{
    width: 170px;
  }

  .centered2 {
    position: absolute;
    top: -50%;
    left: 235%;
    transform: translate(-12%, -50%);
    display: flex;
  }
  .centered2 img{
    width: 170px;
  }

  
  .centered3 {
    position: absolute;
    top: -100%;
    left: 235%;
    transform: translate(240%, -50%);
    display: flex;
  }
  .centered3 img{
    width: 90px;
  }

  .centered4 {
    position: absolute;
    top: 60%;
    left: 200%;
    transform: translate(75%, -50%);
    display: flex;
  }
  .centered4 img{
    width: 120px;
  }

  .centered5 {
    position: absolute;
    top: 60%;
    left: 235%;
    transform: translate(170%, -50%);
    display: flex;
  }
  .centered5 img{
    width: 90px;
  }

  .centered6 {
    position: absolute;
    top: 230%;
    left: 235%;
    transform: translate(85%, -50%);
    display: flex;
  }
  .centered6 img{
    width: 130px;
  }

  .centered7 {
    position: absolute;
    top: 500%;
    left: 235%;
    transform: translate(110%, -50%);
    display: flex;
  }
  .centered7 img{
    width: 100px;
  }

  .centered8 {
    position: absolute;
    top: 180%;
    left: 235%;
    transform: translate(110%, -50%);
    display: flex;
  }
  .centered8 img{
    width: 160px;
  }

  .centered9 {
    position: absolute;
    top: 440%;
    left: 235%;
    transform: translate(85%, -50%);
    display: flex;
  }
  .centered9 img{
    width: 190px;
  }

  
  .centered10 {
    position: absolute;
    top: 305%;
    left: 235%;
    transform: translate(27%, -50%);
    display: flex;
  }
  .centered10 img{
    width: 150px;
  }

  .centered11 {
    position: absolute;
    top:85%;
    left: 235%;
    transform: translate(10%, -50%);
    display: flex;
  }
  .centered11 img{
    width: 140px;
  }


}








